/BioMedClip
*.out
/BiomedCLIP_Explorations/cached_image_feats.pt
/BiomedCLIP_Explorations/cached/
*.pth
*.env
*.pyc
/BiomedCLIP_EA_Experiments/API_KEY.py
/BiomedCLIP_Explorations/cached/
/BiomedCLIP_EA_Experiments/camelyon17/API_KEY.py
/BiomedCLIP_EA_Experiments/derm7pt/API_KEY.py
/BiomedCLIP_EA_Experiments/chexpert/API_KEY.py
/BiomedCLIP_EA_Experiments/camelyon17/cached
/BiomedCLIP_EA_Experiments/chexpert/cached
**/API_KEY.py
**/cached
venv
*.npy
.venv