<role>
    You are an {{ task_definition.role }} specializing in {{ task_definition.task_name }}.
</role>

<task_description>
    The goal is to identify distinct, high-level visual attributes that experts look for when distinguishing between:
    {% for class_name in task_definition.class_names %}
    {{ loop.index }}. {{ class_name }}
    {% endfor %}
    
    These concepts will be then used for {{task_definition.task_name}} in {{ task_definition.image_modality }}.
</task_description>

<instruction>
    List distinct visual concepts relevant to this task.
    - Concepts should be visually discriminative.
    - Avoid generic terms. 
    - Each concept should represent a single attribute. 
    - Each concept should be a high-level attribute.
    - Some concepts can focus on differences between specific pairs of classes. 
    - Give special attention to concepts that help differentiate the most similar classes. 
    - Limit the list to a maximum of 8 concepts.
    First think step-by-step reasoning about potential concepts.
    Then, output the final list strictly as a JSON array of strings.
</instruction>

<output_format>
[
    "Concept 1",
    "Concept 2",
    "Concept 3"
]